//
   Created by hsenid on 1/5/16.

script(src='/javascripts/angular/lib/angular.min.js')
script(src="/javascripts/angular/lib/angular-resource.js")
script(src="/javascripts/angular/modules/angular.js")

