//
   Created by irunika on 12/13/15.
link(rel='stylesheet', href='/stylesheets/style.css' ,type="text/css")
link(rel='styleSheet', href='/bootstrap/css/bootstrap.min.css', type="text/css")
link(rel='styleSheet', href='/bootstrap/css/bootstrap-responsive.min.css', type="text/css")
script(src='/bootstrap/js/bootstrap.min.js')


