//
   Created by irunika on 12/13/15.

footer
   .footer-distributed
      .footer-left
         h3 buildMe.lk
         p copyright @ HardWHERE
      .footer-center
         div
            i.fa.fa-map-marker
            p
               span. No.49/15,
               p kiribathgoda,kelaniya

         div
            i.fa.fa-phone
            p 098765436
         div
            i.fa.fa-envelope
            p
               a(href="mailto:support@company.com") support@company.com
      .footer-right
         p.footer-company-about
            span About the company
            p Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
         div.footer-icons
            a(href="#")
               i.fa.fa-facebook
            a(href="#")
               i.fa.fa-twitter
            a(href="#")
               i.fa.fa-linkedin

   //.row
   //.panel.footer.container
      .row
         .col-md-4
            .row
               h4 contact us:
            .row
               p No.49/15, kiribathgoda, Kelaniya
            .row
               p 0712345577
            .row
               p email
         .col-md-4
         .col-md-4.text-center
            button.btn.btn-default(type='submit')
               span.glyphicon.glyphicon-thumbs-up( aria-hidden="true") Facebook


