extends layout

block content
    .container(ng-controller="indexCtrl");
        br
        .row Pick Your Category
        br
        .row( ng-repeat="i in service")
            h3 {{i}}
            p aaaaaaaaaaaaaaaaaaaaaaaaaap

        .row
          //include slider