doctype html
html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        include bootstrap
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    body.container-fluid
        include navbar
        .container-fluid
            block content
        include footer