doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css' ,type="text/css")
        link(rel='styleSheet', href='/bootstrap/css/bootstrap.min.css', type="text/css")
        link(rel='styleSheet', href='/bootstrap/css/bootstrap-responsive.min.css', type="text/css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body

        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='/javascripts/global.js')