doctype html
html
    head(ng-app="myapp")
        title= title

        include bootstrap
        include angular
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    body.container-fluid(ng-app="myapp")
        include navbar
        .container-fluid
            block content
        include footer